<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="shortcut icon" href="{{ url_for('static', filename='images/logom.png') }} " type="image/x-icon">
        <title>{% block title %} Home {% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for ('static', filename='css/styles.css') }}">
        <script src="https://kit.fontawesome.com/43e3ba27ff.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
        <style>
            .content{
                background-image:url("{{url_for('static', filename='images/f.jpg')}}");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
              }
              
        </style>
    </head>
     
<body >
    
    <header class="header">
        <div class="logo">
            <a href="{{ url_for('inicio.index')}}">
            <img src="../static/images/logom.png" alt="logo del museo"></a>
        </div>
        
        <nav>
            <h2 class="b"> {% block sub %}titulo {% endblock %} </h2></nav>
        <nav>
            

        <nav>
            <ul class="navbar">
                <li><a href=""></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            
            </ul>
        </nav>
    </header>
    <div class="content"  >
        {% block content %}
        {% endblock %}
    </div>
    </div>
    <footer class="footer">
        <div class="gruop1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="../static/images/logom.png" alt="Logo"> </a>
                </figure>
            </div>
            <div class="box">
                <h2>Sobre nosotros</h2>
                <h2>Información General</h2>
    
                <p>Horario: Lunes a sábado de 10:00 a 15:00 hrs; domingo de 10:00 a 19:00 hrs.</p>
                <h2>Costos</h2> 
    
                  <p> Entrada gratuita. Se recomienda contratar los servicios de un guía turístico certificado para tener una mejor experiencia.</p>
            </div>
            <div class="box">
                <h2>Siguenos</h2>
                <div class="socialmedia">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </div>
                
            </div>
        </div>
        <div class="g2">
            <small>&copy;2023 <b>Secretaria de Turismo</b>- Todos los Derechos Reservados</small>
        </div>
    </footer> 
   
</body>
</html>