<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logom.png') }} " type="image/x-icon">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://kit.fontawesome.com/43e3ba27ff.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--encabezado-->
    <header class="header">
        <div class="logo">
            <img src="../static/images/logom.png" alt="logo del museo">
        </div>

        <nav>
            <h2 class="b"> BIENVENIDO </h2></nav>
        <nav>
            <ul class="navbar">
                <li><a href="{{ url_for('registro') }}" class="buttonY">Soy nuevo</a></li>
                <li><a href="{{ url_for('login') }}" class="buttonY">Iniciar Sesion</a></li>

            </ul>
        </nav>
    </header>
    <br>
     <strong> <center><h1>  Museo de la Ciudad de Huamantla </h1></center> </strong>  
    <!--cuerpo-->
<div class="slider-frame">   
    <hr > 
    
    <h2> "Descubre la historia que cobra vida a través del arte en nuestro museo, 
        un lugar donde el pasado se entrelaza <br> con la belleza eterna."</h2>
        <br>
    <ul>
        <li><img src="../static/images/descarga.jpg" alt=""></li>
        <li><img src="../static/images/f.jpg" alt=""></li>
        <li><img src="../static/images/fondix.jpg" alt=""></li>
        <li><img src="../static/images/Galeria2.jpg" alt=""></li>
        <li><img src="../static/images/Galeria9.jpg" alt=""></li>
        <li><img src="../static/images/mas.jpg" alt=""></li>
        <li><img src="../static/images/Museo.jpg" alt=""></li>
        <li><img src="../static/images/opc.jpg" alt=""></li>
    </ul>    <br>
    <hr >
    <br>
</div>
    <!-- pie de pagina--> 
<footer class="footer">
    <div class="gruop1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="../static/images/logom.png" alt="Logo"> </a>
            </figure>
        </div>
        <div class="box">
            <h2>Sobre nosotros</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, expedita.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, expedita.</p>
        </div>
        <div class="box">
            <h2>Siguenos</h2>
            <div class="socialmedia">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
            
        </div>
    </div>
    <div class="g2">
        <small>&copy;2023 <b>Secretaria de Turismo</b>- Todos los Derechos Reservados</small>
    </div>
</footer>
</body>
</html>