<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Item {% endblock %}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/logom.png') }} " type="image/x-icon">
        <link rel="stylesheet" href="{{ url_for ('static', filename='css/styleform.css') }}">
        <script src="https://kit.fontawesome.com/43e3ba27ff.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

        <script>
            function goBack() {
                window.history.back();
            }
        </script>    
    </head>
<body>
    <header class="header">
        <div class="logo">
            <a href="{{ url_for('Ayudante') }}">
            <img src="../static/images/logom.png" src="" alt="logo del museo">
        </a>
        </div>
        <nav >
            <h2 class="e">{% block subtitle %} Lista de Items {% endblock %}</h2>
            </nav>
        <nav>
        <nav>
            <ul class="navbar">
                <li><a href="../../administrador/templates/indexa.html"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            
            </ul>
        </nav>
    </header> <br>
    <nav class="navbut">

            <!--<li><a href="#" onclick="goBack()" >Regresar</a></li>-->
            <button href="#" onclick="goBack()" class="btn btn-primary" > Regresar</button>
            &nbsp;&nbsp;

            <nav>
                <div class="search-bar">
                    <form name="formSearch" method="POST" action="{{url_for('buscarItem')}}" class="search" autocomplete="off">
                        <input type="search" name="buscar" class="search__input" placeholder="Buscar Items">
                        <button type="submit" class="search__btn btn btn-primary">
                            <i class="bi bi-search_icon"></i>
                            Buscar
                        </button>
                    </form>
                </div>
            </nav>
    </nav>
    <br>
    <table border="2" class="custom-table" >
        <tr>
            <th>Nombre</th>
            <th>Origen</th>
            <th>Modo de Adquisicion</th>
            <th>Fecha de Registro</th>
            <th>Categoria</th>
            <th>Temporada</th>
            <th>Condicion</th>
          
        </tr>
        {% for item in items%}
        <tr>
            <td>{{ item.nombre }}</td>
            <td>{{ item.lugar }}</td>
            <td>{{ item.modo }}</td>
            <td>{{ item.fecha_registro }}</td>
            <td>{{ item.nombre_cat }}</td>
            <td>{{ item.nombreTemp }}</td>
            <td>{{ item.condicion }}</td>
            
        </tr>
        {% endfor %}
    </table>
    <!--<a href="#" onclick="goBack()">Cancelar</a>-->

    <footer class="footer">
        <div class="gruop1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="../static/images/logom.png" alt="Logo"> </a>
                </figure>
            </div>
            <div class="box">
                <h2>Sobre nosotros</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, expedita.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, expedita.</p>
            </div>
            <div class="box">
                <h2>Siguenos</h2>
                <div class="socialmedia">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </div>
                
            </div>
        </div>
        <div class="g2">
            <small>&copy;2023 <b>Secretaria de Turismo</b>- Todos los Derechos Reservados</small>
        </div>
    </footer> 
   
</body>
</html>

    