{% extends "baseay.html" %}

{% block title %} Visitas
{% endblock %}

{% block content %}
<script>
    function goBack() {
        window.history.back();
    }
</script>
<h1>Lista de Visitas</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre Completo</th>
            <th>Numero de visitantes</th>
            <th>Fecha de Visita</th>
            <th>Tipo de visita</th>
        </tr>
        {% for visita in visitas %}
        <tr>
            <td>{{ visita["ID"]}}</td>
            <td>{{ visita["Nombre Completo"]}}</td>
            <td>{{ visita["Numero de visitantes"] }}</td>
            <td>{{ visita["Fecha de Visita"] }}</td>
            <td>{{ visita["Tipo de visita"] }}</td>
        </tr>
        {% endfor %}
    </table>
    <button href="#" onclick="goBack()"> Cancelar</button>
{% endblock %}